.nav-item .active{
  border-bottom: 2px solid blueviolet;
  font-weight: bold;
}

.my-div{
  height: 60vh;
  background-position: center;
  background-size: cover;
  transition-duration: 300ms;
  transition-property: all;
}

.my-div:hover{
  /* transform: scale(1.2); */
  background-size: 120%;
}

.full-page{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cam-container{
  height: 30rem;
  /* display: inline-block; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.cam-container:hover .overlay {
  display: block;
  opacity: 1;
}

.overlay p {
  text-align: center;
  margin-top: 50%;
  transform: translateY(-50%);
}

.upload-btn{
  
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  padding: 0.5rem;
  /* border-radius: 50%; */
  cursor: pointer;
  transition-duration: 300ms;
  transition-property: all;
  font-weight: bold;
  text-align: center;
}

.upload-img-card{
  background-image: linear-gradient(0deg, #ffffffaf, #ffffffaf), url('https://www.thespruce.com/thmb/qrRQdVeYgjo0HrD1JOOJlZEM7TI=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/how-to-grow-monstera-deliciosa-5072671-04-9a22973e662f4ba882eef5f16d40bcc9.jpg');
  background-size: cover;
}

.history-bg{
  background-image: linear-gradient(0deg, #ffffff78, #ffffff78), url("https://static.vecteezy.com/system/resources/previews/002/058/893/non_2x/exotic-tropical-plant-background-free-vector.jpg");
  background-size: cover;
  background-attachment: fixed;
}